---
layout: archive
title: "Projects"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

<h2> <center> CCAE </h3> </center>

<h3> Capstone Project </h3>

<ul> 
  
  <li> Worked on a mentorship program in the new Cybersecurity lab at East Carolina University </li>
  <li> Developed labs, and activities to be used by future students </li>
  <li> Worked on a PR screen to promote the ICT department </li>
  
</ul>





